@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .App {
  background-image: url("./assets/HFREDONDO.png");
  background-size: 1.5in;
} */

.main {
  background-image: url("./assets/HFREDONDO.png");
  background-size: 7in;
  background-position: -120px -100px;
  background-repeat: no-repeat;
}

.backdrop {
  backdrop-filter: blur(4px) brightness(45%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
